@{

    Layout = "_Acceuil";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/css/sb-admin-2.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css'>
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/416491/timeline.css'>
    <link href="~/css/dashboard.css" rel="stylesheet" />

</head>
<body>
    <main>
                <div class="container-fluid px-4">
                    <div class="card-head p-3 d-flex justify-content-between">
                        <h1 class="mt-4">Dashboard</h1>
                       
                       <button class="btn btn-success" id="btnBeginBackup" style="margin-top:20px">Take Backup</button>
                       
                    </div>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>

                    @*--------------Gestion Panel------------------*@
                    <div class="row">
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                               @* <i class="fa fa-comments fa-5x"></i>*@
                                                <i class="fa-solid fa-right-left fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">26</div>
                                                <div>Gestion des Publication</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="Index" asp-controller="Publication">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                               @* <i class="fa fa-support fa-5x"></i>*@
                                                <i class="fa-solid fa-user-check fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">13</div>
                                                <div>Gestion Structure</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="Index" asp-controller="Structure">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">                       
                                                <i class="fa-sharp fa-solid fa-gears fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">12</div>
                                                <div>Setting Mangement</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="SettingManagement" asp-controller="Structure">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            
                        </div>

                        @*---------------End-----------------*@


        
                    </div>
                </div>
    </main>
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

    <script src='https://code.jquery.com/jquery-3.1.0.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.5.2/metisMenu.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7/js/sb-admin-2.js'></script>
    <script src='https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js'></script>

</body>
</html>
    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        }
    <script>
        $(document).on('click', '#btnBeginBackup', function (e) {
            $.ajax({
                url: '/Backup/GenerateBackupFile',
                type: 'GET',
                success: function (res) {
                    //hideLoader();
                    if (res)
                        alert("Backup taken successfully and  files Uploaded on Google Drive ");
                    else
                        alert("Backup failed");
                },
                error: function (err) {
                    //hideLoader();
                    alert("Something went wrong. Please contact administrator");
                }
            });
        });
    </script>
}
    
