@{

    Layout = "_Acceuil";
}

    
       
        
            <main>
                <div class="container-fluid px-4">
                    <div class="card-head p-3 d-flex justify-content-between">
                        <h1 class="mt-4">Dashboard</h1>
                       
                        <button type="button" class="btn btn-primary mt-4 p-3" >Backup</button>
                       
                    </div>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>

                    @*--------------Gestion Panel------------------*@
                    <div class="row">
                        <!-- /.row -->
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                               @* <i class="fa fa-comments fa-5x"></i>*@
                                                <i class="fa-solid fa-right-left fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">26</div>
                                                <div>Gestion des Publication</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="Index" asp-controller="Publication">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                               @* <i class="fa fa-support fa-5x"></i>*@
                                                <i class="fa-solid fa-user-check fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">13</div>
                                                <div>Gestion Structure</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="Index" asp-controller="Structure">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">                       
                                                <i class="fa-sharp fa-solid fa-gears fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">12</div>
                                                <div>Setting Mangement</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="SettingManagement" asp-controller="Structure">
                                        <div class="panel-footer">
                                            <span class="pull-left">View Details</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            
                        </div>

                        @*---------------End-----------------*@


@*                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-primary text-white mb-4">
                                <div class="card-body">Gestion Publication</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" asp-action="Index" asp-controller="Publication">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Gestion Structure</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" asp-action="Index" asp-controller="Structure">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-danger text-white mb-4">
                                <div class="card-body">Setting Management</div>
                                <div class="card-footer d-flex align-items-center justify-content-between ">
                                    <a class="small text-white stretched-link" asp-action="SettingManagement">View Details</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </main>
    
